<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Save Task</title>
</head>
<body>

    <div class="container">
        <h2>
            Todo-List
        </h2>
        <hr>

        <h3>
            Save Task
        </h3>

        <form action="#" th:action="@{/tasks/save}"
              th:object="${task}" method="post"
              class="form-group">

            <input th:field="*{id}" type="hidden">

            <div class="mb-4 w-25">
                <input th:field="*{name}" placeholder="Task Name" class="form-control">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name Error</p>
            </div>



            <textarea th:field="*{description}" placeholder="Task Description" class="form-control mb-4 w-25"></textarea>

            <button type="submit" class="btn btn-info col-2">Save</button>
            <a th:href="@{/tasks/list}"
               class="btn btn-danger col-2">
                cancel
            </a>
        </form>

    </div>

</body>
</html>